<h1>Attendance</h1>

<ul class="students-grid">
  <% data.forEach(student => { %>
    <li>
      <div >
       
        <p><b><%= student.name.toUpperCase() %></b></p>
        <p><b><%= student.points %></b></p>
      </div>
      <form action="/increase-points/<%= student._id %>" method="POST">
        <button type="submit" class="btn-present">Present</button>
      </form>
    </li>
  <% }) %>
</ul>
