<div class="author">
    <h1 class="author__heading">
     ARV Gym
    </h1>
    <h2 class="articles__heading">Keep pushing your limits!</h2>
</div>
<div class="img-container-home">
    
<img src="/img/photo-gym2.jpg" alt="gym photo, weight and bottle on a bench" class="hero-image">


</div>