<!-- views/ranking.ejs -->

<h1>Ranque</h1>

<div class="ranking-container">
    <div class="ranking-container-inner-header">
        <div class="ranking-container-index-header">Ranque</div>
        <div class="ranking-container-index-header">Estudante</div>
        <div class="ranking-container-index-header">Pontos:</div>
    </div>
    <% rankedStudents.forEach((student, index)=> { %>
        
        
           <div class="ranking-container-inner">
                <div class="ranking-container-index">
                <%= index + 1 %>

            </div>
            <div class="ranking-container-name">
                <%= student.name.toUpperCase() %>

            </div>
            <div class="ranking-container-points">  <%= student.points %>
            </div>

           </div>
        
        <% }); %>
    </div>